.link {
  text-decoration: none;
  transition: ease-in-out .3s;
}

.linkWhite {
  color: white;
}

.linkWhite:hover {
  color: #d0d0d0;
}

.linkBlack {
  color: black;
}

.linkBlack:hover {
  color: #444444;
}